body {
    text-align: center;
    background-color: black;
  }
  
  h1 {
    font-size: 5rem;
    color: white;
    font-family: cursive;
    text-shadow: 5px 0 #ff0073;
  
  }
  
  .drum {
    outline: none;
    border: 10px solid white;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    border-radius: 50%;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #2429ca;
  }
  